<div class="container">
  <div class="jumbotron">
      <app-progresso [progresso]="cont"></app-progresso>
      <br>
      <form>
          <div class="form-group">
              <label for="nome">Nome: </label>
              <input type="text" class="form-control" id="nome" (input)="atualizaProfessor($event)" placeholder="Escreva nome do Professor">

          </div>
          <div class="form-group">
              <label for="disciplina">Disciplina: </label>
              <input type="text" class="form-control" id="disciplina" (input)="atualizaProfessor($event)" placeholder="Insira a Disciplina">

          </div>
          <div class="form-group">
              <label for="cpf">CPF</label>
              <input type="text" class="form-control" id="cpf" (input)="atualizaProfessor($event)" placeholder="CPF">
          </div>
          <label >Formação: </label>
          <div class="form-check rb" (input)="atualizaProfessor($event)">
              <input class="form-check-input" type="radio" name="exampleRadios" id="rb1" value="Mestre">
              <label class="form-check-label" for="exampleRadios1">
                  Mestre
              </label>
          </div>
          
          <div class="form-check rb" (input)="atualizaProfessor($event)">
              <input class="form-check-input" type="radio" name="exampleRadios" id="rb2" value="Doutor">
              <label class="form-check-label" for="exampleRadios2">
                  Doutor
              </label>
          </div>
          <div class="d-flex justify-content-end">
              <button type="submit" class="btn btn-secondary" (click)="salvarProfessor()">Enviar</button>
          </div>


      </form>

  </div>
</div>